Repository pgf-tikz/pgf, pull requests merged in 2023-10, with the labels that each got.

#1279 Simplify the stripe-pattern matrix example
  doc/generic/pgf/pgfmanual-en-tikz-matrices.tex
Labels: manual, matrix

#1276 fix conflicting bbox setting between pgfsys-dvisvgm and dvisvgm command;
  doc/generic/pgf/CHANGELOG.md
  testfiles/pgf001.latexdvisvgm.tlg
  testfiles/pgf002.latexdvisvgm.tlg
  tex/generic/pgf/systemlayer/pgfsys-dvisvgm.def
Labels: dvisvgm

#1269 Adapt short verb usages
  doc/generic/pgf/CHANGELOG.md
  doc/generic/pgf/pgfmanual-en-base-shadings.tex
  doc/generic/pgf/pgfmanual-en-pgfkeys.tex
  doc/generic/pgf/pgfmanual-en-tikz-coordinates.tex
Labels: manual

#1221 Harden pgfmathparser against active chars
  doc/generic/pgf/CHANGELOG.md
  tex/generic/pgf/math/pgfmathparser.code.tex
Labels: pgfmath
